**/**.json
**/**.gz
Assignments/Assignment 2/data
Books/
images/
Assignments/Assignment 3/gif_output/
Assignments/Assignment 3/gif_output2/
Assignments/Assignment 3/images2/
Assignments/Assignment 3/images and gif.zip
**/**.pt
**/data/
